/* 1. Regular Variant */
@font-face {
  font-family: "Instrument Serif";
  font-weight: 400;
  font-style: normal;
  src: url("../css/font/InstrumentSerif-Regular.ttf") format("truetype");
  font-display: swap;
}

/* 2. Italic Variant */
@font-face {
  font-family: "Instrument Serif";
  font-weight: 400;
  font-style: italic;
  src: url("../css/font/InstrumentSerif-Italic.ttf") format("truetype");
  font-display: swap;
}

/* --- Design Tokens / Root Variables --- */
:root {
  /* Typography */
  --font-primary: "Instrument Serif", Georgia, Cambria, "Times New Roman", Times,
    serif;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-p: 1.2rem;
  --font-size-nav: 30px;
  --font-size-h1: 3rem;

  /* Colors - Text */
  --color-text-main: #080808;
  --color-text-muted: #94a3b8;
  --color-text-link: #3730a3;
  --color-text-link-hover: #1e1b4b;

  /* Colors - Backgrounds */
  --bg-for-all: #e1e0fd; /* dark dark blue */

  /* Spacing */
  --body-padding: 7.5px;
}

/* --- Base & Reset Styles --- */
html {
  scroll-behavior: smooth;
}

* {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-primary);
  padding: var(--body-padding);
  margin: 0;
  text-align: center;
  color: var(--color-text-main);
}

/* --- Home Page Styles --- */
body.index {
  background-color: var(--bg-for-all);
  color: var(--color-text-main);
  text-align: center;
  overflow-x: hidden;
  position: relative;
}

body.charts {
  background-color: var(--bg-for-all);
}

body.tables {
  background-color: var(--bg-for-all);
}

body.information {
  background-color: var(--bg-for-all);
}

.hero-content {
  position: relative;
  z-index: 2;
  padding-top: 15vh;
  max-width: 600px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.hero-content p {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-light);
  color: var(--color-text-muted);
}

.hero-animation {
  margin-bottom: -100px; /* Negative margin pulls the text upward */
  position: relative;
  z-index: 2;
}

.navigation {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-weight: var(--font-weight-bold);
}

.navigation a {
  background-color: transparent;
  text-decoration: none;
  padding: 10px 20px;
  color: var(--color-text-link);
  font-size: var(--font-size-nav);
  font-style: normal;
  transition: color 0.3s ease, font-style 0.2s ease;
}

.navigation a:hover,
.navigation a:active {
  font-style: italic;
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

.habadspic {
  width: 200px;
  border-radius: 10px;
}
