{% extends "layout.html" %} {% block body_class %}index{% endblock %} {% block
mainBlock %}
<!-- 1. Load the web player script -->
<script
  src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
  type="module"></script>

<!-- 2. Display your local Lottie file -->
<div class="hero-animation">
  <dotlottie-player
    src="{{ url_for('static', filename='animations/Slothsleeping.json') }}"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px; margin: 0 auto"
    renderMode="canvas"
    loop
    autoplay>
  </dotlottie-player>
</div>
<div class="hero-content">
  <h1>Let's stop snoring with Habad!</h1>
  <h1>Welcome to <i>ishabadsnoring!</i></h1>
  <p>Analyze and improve your sleep habits.</p>
</div>

{% endblock %}
